## Settings file was created by plugin AddrData_Sample v1.0.0-dev+d577bcddb5c30848c50adfda9ba678da17ba0247
## Plugin GUID: AddrData_Sample

[Catalogues]

## The .catalog files in the plugins folder to load
# Setting type: String
# Default value: [\"YOURCATALOG.catalog\"]
Entries = [\"Mirage_HQ.catalog\"]

## This will take a StoreName and append a * to it so lexographical sorting will show it first
# Setting type: String
# Default value: [\"SomeStoreName\"]
Priorities = [\"Mirage_HQ\"]

[Resource Locators]

## unless you changed this, don't touch.
# Setting type: String
# Default value: [\"hatdata\"]
Hats = [\"hatdata\"]

## unless you changed this, don't touch.
# Setting type: String
# Default value: [\"skindata\"]
Skins = [\"skindata\"]

## unless you changed this, don't touch.
# Setting type: String
# Default value: [\"visordata\"]
Visors = [\"visordata\"]

## unless you changed this, don't touch.
# Setting type: String
# Default value: [\"nameplatedata\"]
Nameplates = [\"nameplatedata\"]

